body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

section h1,
article h1,
aside h1,
nav h1 {
  font-size: 2rem; /* atur sesuai desain kamu */
}

.btn-pink,
.btn-outline-pink {
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn-pink {
  background-color: #D12FA5;
  color: white;
}

.btn-pink:hover {
  background-color: #d16eb2;
}

.btn-outline-pink {
  border: 2px solid #D12FA5;
  color: #D12FA5;
}

.btn-outline-pink:hover {
  background-color: #D12FA5;
  color: white;
}

.text-pink {
  color: #D12FA5;
}

.bg-section {
  background: url("../images/background.webp") no-repeat center/cover;
  min-height: 750px;
}

.bg-light-pink,
.bg-light {
  background-color: #ffeff7;
}

.navbar {
  padding: 1rem;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-weight: 400;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: #D12FA5 !important;
}

.border-pink {
  border: 1px solid #D12FA5;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #6c757d;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h5 {
  font-weight: bold;
}

@media (max-width: 767px) {
  footer .col-md-3 {
    text-align: center;
  }

  .bg-section {
    min-height: 550px;
    text-align: left;
  }

  .mt10-mobile {
    margin-top: 100px;
  }

  .bg-section ul li {
    font-size: 9pt;
  }

  .btn-pink,
  .btn-outline-pink {
    width: 100%;
    margin-bottom: 10px;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-brand img {
    width: 50%;
  }

  .buttons-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    padding: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
